<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Programa_BRASCAM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Programa_BRASCAM.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Programa_BRASCAM.Properties.Settings.ConnectionString" connectionString="Data Source=189.127.5.58,1433;User ID=SA;Password=bScAm!gbMAX@1tOneReH" providerName="System.Data.SqlClient" />
        <add name="Programa_BRASCAM.Properties.Settings.RSYS2003ConnectionString" connectionString="Data Source=189.127.5.58,1433;Initial Catalog=RSYS2003;Persist Security Info=True;User ID=SA;Password=bScAm!gbMAX@1tOneReH" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Programa_BRASCAM.Properties.Settings>
            <setting name="Usuário" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="ManterConectado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Permissão" serializeAs="String">
                <value>0</value>
            </setting>
        </Programa_BRASCAM.Properties.Settings>
        <Programa_BRASCAM.Settings1>
            <setting name="Usuário" serializeAs="String">
                <value />
            </setting>
            <setting name="Senha" serializeAs="String">
                <value />
            </setting>
            <setting name="ManterConectado" serializeAs="String">
                <value>False</value>
            </setting>
        </Programa_BRASCAM.Settings1>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>